import React, { useState } from 'react'
import { useAppDispatch, useAppSelector } from '../../helpers/hooks/redux'

interface {{pascalCase name}} {

}

const {{pascalCase name}}: React.FunctionComponent<{{pascalCase name}}> = ({}) => {
  // const initialState = useAppSelector((state) => state.{{lowerCase name}}.initial)
  // const dispatch = useAppDispatch()

  return (
    <>
      <div>

      </div>
    </>
  )
}

export default {{pascalCase name}}
